<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PBug</title>
    <link rel="stylesheet" href="~/css/global.css" />
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    <header class="flex-container">
        <div class="inner-element">
            <div class="helper">
                <nav>
                    @if (Context.UserCan("issue.news"))
                    {
                        <a asp-action="News" asp-controller="Issue">
                            <div class="helper">
                                <img src="~/img/PB.svg" alt="PBug" class="logo" width="32" height="32">
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="helper">
                            <img src="~/img/PB.svg" alt="PBug" class="logo" width="32" height="32">
                        </div>
                    }
                    @if (Context.UserCan("issue.search"))
                    {
                        <a asp-action="Search" asp-controller="Issue">Issues</a>
                    }
                    @if (Context.UserCan("issue.search"))
                    {
                        <a asp-action="Create" asp-controller="Issue">New Issue</a>
                    }
                    @if (Context.UserCan("issue.search"))
                    {
                        <a asp-action="Main" asp-controller="KnowledgeBase">Knowledge Base</a>
                    }
                    @if (User.IsAnonymous())
                    {
                        <a asp-action="Login" asp-controller="Auth">Login</a>
                        <a asp-action="Register" asp-controller="Auth">Register</a>
                    }
                    else
                    {
                        <a asp-action="LogOut" asp-controller="Auth">Log Out</a>
                    }
                </nav>
            </div>
        </div>
    </header>

    <div class="page-main">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
