@Html.ValidationSummary(false, "", new {})

<form asp-action="ChangePassword" asp-controller="Auth" class="changepassword-grid" method="POST" type="application/x-www-form-urlencoded">
    <input type="password" name="oldpassword" placeholder="Current Password" id="optb" class="h2 blueunderline fieldcol currentpassrow" autocomplete="current-password">
    <br>
    <input type="password" class="h2 blueunderline fieldcol newpassrow" id="nptb" name="newpassword" placeholder="New Password" minlength="6" autocomplete="new-password">
    <br>
    <input type="submit" class="h2 submitpost fieldcol buttonrow" value="Change Password" style="margin-top:10px; justify-self: center; width:initial">
</form>