@model User

<h2 class="issue-name">@RenderHelpers.ShowUser(Model, false)</h2>
@Model.Bio
<hr>
<div class="taglist"></div>
<div class="underpanel">
    @if (Context.UserCan("issue.search"))
    {
        <a asp-controller="Issue" asp-action="Search" asp-route-q="author:@Model.Username">issues created</a>
        <a asp-controller="Issue" asp-action="Search" asp-route-q="assignee:@Model.Username">issues assigned to</a>
    }
    @if (Context.UserCan("user.settings.all")
     || (Context.UserCan("user.settings.own") && Model.Id == Context.User.GetUserId()))
    {
        <a asp-controller="User" asp-action="Settings" asp-route-username="@Model.Username">settings</a>
    }
    @if (Context.User.GetUserId() == Model.Id)
    {
        <a asp-controller="User" asp-action="ChangePassword">change password</a>
    }
</div>
@if (Context.UserCan("issue.news"))
{
    <ul class="issues-list">
        @foreach (var activity in @Model.IssueActivities)
        {
            <partial name="IssueActivityPartial" model="activity" /> 
        }
    </ul>
}
